/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/
%btn, %btn:visited {
	display:inline-block;
	position:relative;
	font-family:$buttonfont;
	text-transform:uppercase;
	text-decoration:none;
	text-align:center;
	color:$white;
	font-size:1.2em;
	height:35px;
	line-height:35px;
	font-weight:normal;
	padding:0 24px;
	@include border-radius(30px);
	border:4px solid $orange;
	@include box-sizing(content-box);
	background-color:$btnbgcolor;
	cursor:pointer;
	outline:none;
	@include transition(background-color 0.375s ease-in-out);

	// hovering on the btn
	&:hover, &:focus {
		color:$white;
		text-decoration:none;
		outline:none;
		background-color:darken($btnbgcolor, 8%);
	} // end hover

	// clicking on the button
	&:active {
		top:1px; // adds a tiny hop to the click
	} // end active

} // end .button
 
/*
An example button.
You can use this example if you want. Just replace all the variables
and it will create a button dependant on those variables.
*/
.btn {
	@extend %btn;
}
.btn-blue, .btn-blue:visited {
	@extend %btn;
	border-color:$blue;
}
.btn-gallery {
	@extend %btn;
	@include border-radius(0);
}

%btn-circle {
	text-transform:uppercase;
	position:relative;
	padding-top:58px;
	text-align:center;
	color:$white !important;
	border:0;
	outline:0;
	@include v-center;
	&:before {
		content:"";
		width:50px;
		height:50px;
		display:block;
		border:3px solid $white;
		@include border-radius(50%);
		position:absolute;
		@include transform(translateX(-50%));
		top:0;
		@include transition(background-color .375s);
	}
	&:after {
		top:28px;
	}
	&:before, &:after {
		position:absolute;
		left:50%;
	}
	&:hover {
		&:before {
			background-color:rgba($white, .2);
		}
	}
}
.btn-play {
	@extend %btn-circle;
	@include tri(right, 13px, 22px, $white, 0, block, none, false);
	&:after {
		@include transform(translate(-40%, -50%));
	}
}
.btn-info {
	@extend %btn-circle;
	&:after {
		content:"";
		background:url(../images/ic-info.png) no-repeat;
		width:14px;
		height:32px;
		@include transform(translate(-7px, -50%));
	}
}
.btn-external {
	text-transform:uppercase;
	border-bottom:0;
	color:$white;
	outline:0;
	&:hover {
		color:$white;
	}
	&:before {
		content:"";
		width:50px;
		height:50px;
		background:url(../images/ic-external.png) no-repeat;
		display:inline-block;
		@include transition(background-color .375s);
		@include border-radius(10px 0 10px 10px);
	}
	&:hover {
		&:before {
			background-color:rgba($white, .2);
		}
	}
}