/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
/*********************
LAYOUT & GRID STYLES
*********************/
#container {
	#content, body.home & #content {
		padding-top:65px;
	}
}
#logo {
	font-size:3em;
	height:65px;
	line-height:65px;
	a {
		&:before {
			height:70px;
			width:55px;
			left:-4px;
		}
	}
}
#container #content, #logo {
	@include transition(all 275ms);
}
h1, .h1 {
	font-size:2.5em;
}


/******************************************
INDIVIDUAL PAGES
******************************************/

/******************************************
HOME PAGE
******************************************/
body.home {
	.home-logo {
		h1 {
			font-size:4em;
			span {
				padding-left:230px;
				&:after {
					height:220px;
					width:250px;
					top:-60px;
				}
			}
		}
		h2 {
			font-size:1.65em;
			padding-left:230px;
		}
	}
}

/******************************************
INDEX PAGE
******************************************/
body.page-template-page-index {
	.embedded-custom-post {
		& > ul {
			& > li {
				.post-thumb-small, .post-thumb-large, .thumb-index {
					float:left;
					width:50%;
					max-width:532px;
					margin:0 0 5px;
					padding-right:20px;
					@include box-sizing;
				}
				.wp-post-image {
					margin-bottom:0;
				}
				.item-content-desc {
					float:right;
					width:50%;
					border-top:0;
					margin-top:0;
				}
				.accordion-content {
					max-height:1500px;
				}
			}
		}
	}
}

/******************************************
VIDEO GALLERY PAGE
******************************************/
body.video-gallery {
	.body-content {
		.body-content-inner {
			width:65%;
		}
		.cat-selector {
			width:35%;
		}
	}
}

/******************************************
SINGLE VIDEO (SHOW) PAGE, PERSON PAGE
******************************************/
body {
	&.single-shows, &.single-people {
		#main {
			@include clearfix;
		}
		.video-wrapper, .headshot {
			float:left;
			width:50%;
		}
		.show-info, .cast-crew, .person-info {
			margin-right:0;
		}
		article {
			float:left;
			width:50%;
			@include box-sizing;
			padding-left:25px;
			// padding-right:25px;
			// background:rgba(255,255,255,.05);
		}
		.thumb-index {
			.thumb-index-inner {
				margin-left:0;
				margin-right:0;
			}
		}
		.show-gallery {
			clear:both;
		}
	}
}