/******************************************************************
Site Name: 
Author: 

Stylesheet: Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/
/*********************
LAYOUT & GRID STYLES
*********************/
#container {
	#content, body.home & #content {
		padding-top:105px;
	}
	#content {
		margin-bottom:400px;
		/* stupid spacer for iphones */
		&:after {
			display:none;
		}
	}
}
.wrap, .header .wrap {
	max-width:1472px;
	margin:0 120px;
}
#logo {
	font-size:4em;
	height:105px;
	line-height:105px;
	a {
		&:before {
			height:80px;
			width:63px;
			left:-12px;
			top:19px;
		}
	}
}
.main-nav li a {
	font-size:20px;
	height:105px;
	line-height:105px;
}
html.scrolled {
	#container #content, body.home & #container #content {
		padding-top:65px;
	}
	#logo, .main-nav > li > a {
		height:65px;
		line-height:65px;
	}
	#logo {
		a {
			&:before {
				height:70px;
				width:55px;
				left:-4px;
				top:2px;
			}
		}
	}
}
/*********************
POSTS & CONTENT STYLES
*********************/
.hentry {
	header {
		.post-thumb-container {
			margin-right:-300px;
			margin-bottom:0;
			float:left;
			img {
				max-width:300px;
			}
		}
		@include clearfix;
	}
	.header-text-container {
		float:left;
		margin-left:300px;
		margin-bottom:1.5em;
	}
	.entry-content {
		clear:left;
	}

} /* end .hentry */
body.single-post {
	.hentry {
		header {
			padding-bottom:0;
		}
	}
}

/* image gallery styles */
.thumb-index {
	.thumb-index-list {
		margin-right:-.5%;
		& > li {
			width:24.5%;
			margin:0 .5% .5% 0;
		}
	}
}
.video-thumb-index {
	.thumb-index-list {
		@include clearfix;
		& > li {
			width:25%;
		}
	}
}

/*********************
FOOTER STYLES
*********************/

.footer {
	height:400px;
}

/******************************************
INDIVIDUAL PAGES
******************************************/

/******************************************
HOME PAGE
******************************************/
body.home {
	.home-logo {
		h1 {
			font-size:5em;
			span {
				padding-left:280px;
				&:after {
					height:250px;
					width:300px;
					top:-64px;
				}
			}
		}
		h2 {
			font-size:2.09em;
			padding-left:280px;
		}
	}
}

/******************************************
INDEX PAGE
******************************************/
body.page-template-page-index {
	.embedded-custom-post {
		& > ul {
			& > li {
				.post-thumb-small {
					display:none;
				}
				.post-thumb-large {
					display:block;
					max-width:50%;
				}
				.thumb-index {
					max-width:50%;
				}
			}
		}
	}
}